[submodule "part 3/backend"]
	path = part 3/backend
	url = git@github.com:giuxtaposition/fulstackopen-2021-part3.git
[submodule "part 10/rate-repository-app"]
	path = part 10/rate-repository-app
	url = git@github.com:giuxtaposition/rate-repository-app.git
[submodule "part 11/full-stack-open-pokedex"]
	path = part 11/full-stack-open-pokedex
	url = git@github.com:giuxtaposition/full-stack-open-pokedex.git
[submodule "part 11/bloglist-with-pipeline"]
	path = part 11/bloglist-with-pipeline
	url = git@github.com:giuxtaposition/bloglist.git